
.inactive {
	display:none;
}
/*	visibility: hidden;
	display:none;*/
}

/*************************** Homepage ***************************/

#sign-up-link {
	display:inline-block;
}
#sign-up-link {
	display:inline-block;
}

.login_form {
	width: 300px;
	margin: 60px auto 30px;
	padding: 10px;
	position: relative;

	 box-shadow: 
    0 0 1px rgba(0, 0, 0, 0.3), 
    0 3px 7px rgba(0, 0, 0, 0.3), 
    inset 0 1px rgba(255,255,255,1),
    inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background: linear-gradient(#eeefef, #ffffff 10%);
}

.login_form .field {
	position: relative;
}

.login_form .field i {
	left: 0px;
  top: 0px;
  position: absolute;
  height: 36px;
  width: 36px;

  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);

  color: #777777;
  text-align: center;
  line-height: 42px;
  transition: all 0.3s ease-out;
  pointer-events: none;
}

.login_form input[type=email],
.login_form input[type=password],
.login_form input[type=text] {
	font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-shadow: 0 1px 0 rgba(255,255,255,0.8);

  width: 80%;
  height: 18px;
  padding: 8px 18px 10px 45px;
  margin-bottom: 10px;

  border: none;
  box-shadow: 
    inset 0 0 5px rgba(0,0,0,0.1),
    inset 0 3px 2px rgba(0,0,0,0.1);
  border-radius: 3px;
  background: #f9f9f9;
  color: #777;
  transition: color 0.3s ease-out;
}

.login_form input[type=email]:hover ~ i,
.login_form input[type=password]:hover ~ i,
.login_form input[type=text]:hover ~ i {
    color: #52cfeb;
}
 
.login_form input[type=email]:focus ~ i,
.login_form input[type=password]:focus ~ i,
.login_form input[type=text]:focus ~ i {
    color: #42A2BC;
}
 
.login_form input[type=email]:focus,
.login_form input[type=password]:focus,
.login_form input[type=text]:focus {
    outline: none;
}
