
.inactive {
	display:none;
}
/*************************** Homepage ***************************/

#sign-up-link {
	display:inline-block;
}
#sign-up-link {
	display:inline-block;
}

#sign_in_modal a:hover {
	color: #88C4B8;
}

.login_form {
	width: 300px;
	margin: 60px auto 30px;
	padding: 10px;
	position: relative;

	 box-shadow: 
    0 0 1px rgba(0, 0, 0, 0.3), 
    0 3px 7px rgba(0, 0, 0, 0.3), 
    inset 0 1px rgba(255,255,255,1),
    inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background: linear-gradient(#eeefef, #ffffff 10%);
}

.login_form .field {
	position: relative;
}

.login_form .field i {
	left: 0px;
  top: 0px;
  position: absolute;
  height: 36px;
  width: 36px;

  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);

  color: #777777;
  text-align: center;
  line-height: 42px;
  transition: all 0.3s ease-out;
  pointer-events: none;
}

.login_form input[type=email],
.login_form input[type=password],
.login_form input[type=text] {
	font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-shadow: 0 1px 0 rgba(255,255,255,0.8);

  width: 80%;
  height: 18px;
  padding: 8px 18px 10px 45px;
  margin-bottom: 10px;

  border: none;
  box-shadow: 
    inset 0 0 5px rgba(0,0,0,0.1),
    inset 0 3px 2px rgba(0,0,0,0.1);
  border-radius: 3px;
  background: #f9f9f9;
  color: #777;
  transition: color 0.3s ease-out;
}

.login_form input[type=email]:hover ~ i,
.login_form input[type=password]:hover ~ i,
.login_form input[type=text]:hover ~ i {
    color: #91E8CB;
}
 
.login_form input[type=email]:focus ~ i,
.login_form input[type=password]:focus ~ i,
.login_form input[type=text]:focus ~ i {
    color: #91E8CB;
}
 
.login_form input[type=email]:focus,
.login_form input[type=password]:focus,
.login_form input[type=text]:focus {
    outline: none;
}

.login_form input[type=submit] {
	background-color: #FCAE49;
	color: #FFFFFF;
	border-radius: 3px 3px 3px 3px;      
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
	padding: 6px;
	width: 300px;
	font-size: 18px;
}

/*************************** Dashboard: User Profile ***************************/

#user_page {
	width: 90%;
	margin: 0 auto;
}

#user-wrap {
	margin: -80px auto;
	text-align: center;
}

#photo_container {
	width: 150px;
	margin: 0 auto;
}

#profile_pic {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid #000000;
	cursor: pointer;
}

#photo_lg {
	width: 200px;
	height: 200px;
	float: left;
}

.profile_info{
	width: 544px;
	height: 200px;
	float: left;
	border: 1px dashed rgba(00, 00, 00, 0.2);
} 

#user-cont {
	height: 130px;
	margin: -1000px auto 0;
	overflow: hidden;
	position: relative;
	z-index: -1;
}
#user-cont input {
	border: 1px dashed rgba(00, 00, 00, 0.2);
	height: 48px;
}

.edit_field {
	padding: 0;
	border: none;
	box-shadow: none;
	outline: none;
	font-size: 16px;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	text-align: center;
	line-height: 1em;
}

#username, #email, #phone_num {
	width: 544px;
}

#firstname, #lastname {
	width: 270px;
	float: left;
}

#email {
	clear: both;
}

/*************************** Dashboard: Groups Info ***************************/

#add-group-cont {
	background: #5F3C72;
	color: white;
	display: none;
	text-align: center;
}


#user-data-placeholder {
	clear: both;
	margin-top: 120px;
	padding-top: 50px;
}

#user-data-placeholder h1 {
	text-align: center;
}

#user-groups-data-placeholder {
	padding: 20px;
	height: 230px;
}

.group-box-placeholder {
	width: 150px;
	height: 150px;
	float: left;
	border: 1px dotted black;
	text-align: center;
}

#user-tasks-data-placeholder {
	width: 100%;
	padding: 20px;
	text-align: center;
	clear: both;
}

#todo-placeholder {
	width: 50%;
	float: left;
}

#done-placeholder {
	width: 50%;
	float: left;
}

/*************************** Group: Group Info ***************************/

#group_page {
	width: 90%;
	margin: 30px auto;
}

#group_main_info {
	width: 50%;
	margin: 0 auto;
}

#group_main_info input {
	width: 100%;
}

#group_name {
	font-size: 40px;
}

#group_desc {
	font-size: 30px;
}

#group_details {
	width: 20%;
	margin: 20px auto;
}

#group_details input {
	width: 100%;
	font-size: 20px;
}

.member_photo {
	width: 200px;
	height: 200px;
}

#add_task_container {
	background-color: rgba(74, 74, 74, 0.1);;
	border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	margin-top: 80px;
	padding: 5px;
}

.group_tasks {
	width: 30%;
	margin: 10px;
	float: left;
	text-align: center;
}

#group-tasks-placeholder {
	width: 90%;
	margin: 30px auto;
	overflow: hidden;
}

#group-members-placeholder {
	padding: 20px;
	overflow: hidden;
	/*background-color: rgba(74, 74, 74, 0.1);*/
}

#add_member_container {
	/*background-color: rgba(74, 74, 74, 0.4);*/
}

#member-wrap-placeholder {
	overflow: hidden;
	/*background-color: rgba(74, 74, 74, 0.7);*/
}

.group_member_box {
	padding: 30px;
	margin: 0 auto;
	width: 25%;
	float: left;
}
/*************************** Task: Task Info ***************************/

#task_page {
	width: 90%;
	margin: 0 auto;
}

#task_main_info {
	width: 40%;
	background-color: pink;
}

#task_details {
	width: 40%;
	background-color: green;
}