<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>You have been invited to join the <%= @group.group_name %> group, on Taskalot</h1>
		
		<p>Please follow this link to sign up for the service and join your group!</p>

		<a href="<%= @url %>">Join Group</a> 

		<p>Get it done!</p>
		<p>- The Taskalot Team</p>
	</body>
</html>