<!DOCTYPE html>
<html>
<head>
  <title>TaskAllocator</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>

	<header>
		<nav>
			<ul>
				<a href=""><li>Contact</li></a>
				<a href=""><li>Blog</li></a>
				<a href=""><li>About</li></a>
			</ul>
		</nav>
	</header>
	
<%= yield %>

</body>
</html>
