<!DOCTYPE html>
<html>
	<head>
		<title>Groups Page Template</title>
		<link type="text/css" rel="stylesheet" href="css/group.css" />
	</head>
	<body>
		<div id="header-wrap">
			<div id="header-cont">
				<div id="app-info-cont">
					<div id="logo-pic"></div>
					<div id="app-title">TaskALot</div>
				</div>
				<div id="user-pic"></div>
				<div id="menu-items">
					<ul class="menu-list">
						<li>Groups</li>
						<li>Tasks</li>
						<li>Logout</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="body-wrap">
			<div id="body-cont">
				<div id="group-header">
					<div id="group-pic"></div>
					<div id="group-title">BFF Roomies</div>
				</div>
				<div id="tasks-cont">
					<div id="upcoming-cont" class="tasks-list-cont">
						<div class="tasks-title">Upcoming<div class="divider"></div></div>
						<ul class="tasks-list">
							<li class="task"><div class="task-image"></div>Take the dog out</li>
							<li class="task"><div class="task-image"></div>Take the dog out</li>
							<li class="task"><div class="task-image"></div>Take the dog out</li>
							<li class="task"><div class="task-image"></div>Take the dog out</li>
						</ul>
					</div>
					<div id="in-prog-cont" class="tasks-list-cont">
						<div class="tasks-title">In Progress<div class="divider"></div></div>
						<ul class="tasks-list">
							<li class="task"><div class="task-image"></div>feed the dog</li>
							<li class="task"><div class="task-image"></div>feed the dog</li>
							<li class="task"><div class="task-image"></div>feed the dog</li>
							<li class="task"><div class="task-image"></div>feed the dog</li>
						</ul>
					</div>
					<div id="completed-cont" class="tasks-list-cont">
						<div class="tasks-title">Completed<div class="divider"></div></div>
						<ul class="tasks-list">
							<li class="task"><div class="task-image"></div>take the dog to the vet</li>
							<li class="task"><div class="task-image"></div>take the dog to the vet</li>
							<li class="task"><div class="task-image"></div>take the dog to the vet</li>
							<li class="task"><div class="task-image"></div>take the dog to the vet</li>
						</ul>
					</div>
				</div>
				<div id="group-members-cont">
					<div id="members-title">Members</div>
					<div id="members-cont">
						<ul class="members-list">
							<li class="member"><div class="member-pic"></div><div class="member-info"><div class="member-name">Alex</div><div class="member-role">Brother</div></div></li>
							<li class="member"><div class="member-pic"></div><div class="member-info"><div class="member-name">Sunmi</div><div class="member-role">Friend</div></div></li>
							<li class="member"><div class="member-pic"></div><div class="member-info"><div class="member-name">Christopher</div><div class="member-role">Brother</div></div></li>
							<li class="member"><div class="member-pic"></div><div class="member-info"><div class="member-name">William</div><div class="member-role">Brother</div></div></li>
						</ul>
					</div>
				</div>
				<div id="graph-cont">
					<div id="graph-options-cont">
						<div id="graph-options-title">Graph Options</div>
						<ul class="graph-options">
							<li>Total Distance</li>
							<li>Total Time</li>
						</ul>
					</div>
					<div id="graph">

					</div>
				</div>
			</div>
		</div>
	</body>
</html>