<!DOCTYPE html>
<html>
	<head>
		<title>Tasks Page Template</title>
		<link type="text/css" rel="stylesheet" href="css/task.css" />
	</head>
	<body>
		<div id="header-wrap">
			<div id="header-cont">
				<div id="app-info-cont">
					<div id="logo-pic"></div>
					<div id="app-title">TaskALot</div>
				</div>
				<div id="user-pic"></div>
				<div id="menu-items">
					<ul class="menu-list">
						<li>Groups</li>
						<li>Tasks</li>
						<li>Logout</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="body-wrap">
			<div id="body-cont">
				<div id="group-header">
					<div id="group-pic"></div>
					<div id="group-title">BFF Roomies</div>
				</div>
				<div id="main-info-cont">
					<div id="task-name">Pick up the cheese</div>
					<div id="task-desc">
						Go to the Stop & Shop and pick up sharp cheddar cheese.
					</div>
				</div>
				<div id="members-cont">
					<div class="member"><div class="member-pic"></div><div class="member-info"><div class="member-name">Sunmi</div><div class="member-role">Creator</div></div></div>
					<div class="member"><div class="member-pic"></div><div class="member-info"><div class="member-name">Alex</div><div class="member-role">Owner</div></div></div>
				</div>
				<div id="details-info-cont">
					<div id="details-left" class="details-cont left">
						<ul class="details-list">
							<li class="detail">Priority</li>
							<li class="detail">Category</li>
							<li class="detail">Karma</li>
							<li class="detail">Passable</li>
						</ul>
					</div>
					<div id="details-right" class="details-cont right">
						<ul class="details-list">
							<li class="detail">Estimated Time</li>
							<li class="detail">Travel</li>
							<li class="detail">Payments</li>
						</ul>
					</div>
				</div>
				<!-- CLEARING THE PREVIOUS ROW -->
				<div class="clear"></div>
				<!-- STARTING NEXT ROW -->
				<div id="map-cont">
					<div id="map">

					</div>
					<div id="map-details">
						map details, directions, etc.

					</div>
				</div>
				<!-- CLEARING THE SECOND ROW -->
				<div class="clear"></div>
				<!-- STARTING 3RD ROW -->
				<div id="log-cont">
					<div id="log-title">Task Logs</div>
					<ul class="logs-list">
						<li class="task-log"><div class="log-pic"></div><div class="log-details">alex passes to bill</div></li>
						<li class="task-log"><div class="log-pic"></div><div class="log-details">alex passes to bill</div></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>