<!-- slideout modals -->
<div id="links">
  <div id="sign-in-link">Sign In</div>
  <div id="sign-up-link">Sign Up</div>
</div>
<div id="sign-up-cont" class="inactive">
  <%= render partial: "sign_up" %>
</div>

<div id="sign-in-cont">
  <%= render partial: "sign_in" %>
</div>

