<div id="sign_in_form">
	<div id="sign-up-cont" class="inactive">
	  <%= render partial: "sign_up" %>
	</div>
	<div id="sign-in-cont">
	  <%= render partial: "sign_in" %>
	</div>
</div><!-- #sign_in_form -->
